[Unit]
Description=Prometheus Node Exporter Service
After=network.target
[Service]
User="{{ node_exporter_user }}"
Group="{{ node_exporter_user }}"
Type=simple
ExecStart=/usr/local/bin/"{{ node_exporter_user }}"
[Install]
WantedBy=multi-user.target