[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User="{{ prometheus_user }}"
Group="{{ prometheus_user }}"
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file /etc/prometheus/prometheus.yml \
    --storage.tsdb.path /var/lib/prometheus/ \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries \
    --web.listen-address=:9090

[Install]
WantedBy=multi-user.target