storage "file" {
  path = "{{ '/opt/vault/data' }}"
}

listener "tcp" {
  address     = "{{ vault_listener_address }}"
  tls_disable = 1
}

ui = true

api_addr = "http://{{ ansible_default_ipv4.address }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"



